*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenidor-dialeg {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#caixa-dialeg {
  position: relative;
  background: #fff;
  min-width: 300px;
  max-width: 400px;
  padding: 10px;
  margin: 40vh auto 0 auto;
}

#tanca-dialeg {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #f54242;
  color: #fff;
  cursor: pointer;
}

.missatge-barra {
  background: #fce0de;
  border: 1px solid #e01507;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#caixa-torradora {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 10px;
  background: #fea;
}